.producto{
	border: 2px solid lightcoral;
	padding: 15px;
	margin-top: 15px;
}
.tab{
	border: 1px solid #717171;
	width: 400px;
	height: 400px;
	padding: 10px;
}

.tabContenido{
	width: 80%;
	margin: auto;
	height: 80%;
	background: lightblue;
}

.cuadrado{
	width:200px;
	height: 200px;
	background: lightcoral;
}
.textoImportante{
	color: red;
}

.textoGrande{
	font-size: 40px;
}