<!-- ejemplo de *ngIf -->
<!-- <div *ngIf="!cargando">
	<p>Hola termino de cargar</p>
</div>

<img *ngIf="cargando" src="https://upload.wikimedia.org/wikipedia/commons/b/b1/Loading_icon.gif?20151024034921" alt="">


<button (click)="alternar()">Alternar</button> -->


<!-- <div *ngFor="let nombre of nombres">
	<p>Hola mi nombre es : {{ nombre }}</p>
</div>

<div *ngFor="let producto of productos" class="producto">
	<p>El producto es: {{ producto.nombre}}</p>
	<p>Su stock es: {{ producto.stock}}</p>
	<p>Su fabricante es: {{ producto.fabricante}}</p>
	<p>Su fecha de vencimiento es: {{ producto.fechaVence}}</p>
	
</div> -->

<!-- 
<div class="tab" [ngSwitch]="pestana">
	<button (click)="cambiarPestana('perfil')">Perfil</button>
	<button (click)="cambiarPestana('puntos')">Puntos</button>
	<button (click)="cambiarPestana('info')">Info</button>

	<div class="tabContenido">
		<p *ngSwitchCase="'perfil'" >Este es el perfil</p>
		<p *ngSwitchCase="'puntos'">Estos son los puntos</p>
		<p *ngSwitchCase="'info'">Acá va la información</p>
		<p *ngSwitchDefault>Seleccione una pestaña</p>
	</div>
</div> -->
 
<button (click)="alternarFondo()">Alternar</button>

<div [ngClass]="{ 'cuadrado': mostrarCuadrado }">
	<p>Este deberia aparecer con un fondo verde</p>
</div> 

<div *ngFor="let producto of productos" class="producto">
	<p [ngClass]="{'textoImportante':producto.esImportante, 'textoGrande':producto.stock>2}" >El producto es: {{ producto.nombre}}</p>
	<p>Su stock es: {{ producto.stock}}</p>
	<p>Su fabricante es: {{ producto.fabricante}}</p>
	<p>Su fecha de vencimiento es: {{ producto.fechaVence}}</p>
	
</div>