<div class="container">
	<form [formGroup]="formularioCreado">
		<div class="mb-3">
			<label for="" class="form-label">Nombre</label>
			<input type="text" class="form-control" id="" formControlName="nombre">
			<div *ngIf="formularioCreado.controls['nombre'].invalid && formularioCreado.controls['nombre'].dirty " class="alert alert-danger" role="alert">
				<span *ngIf="formularioCreado.controls['nombre'].errors?.['required']" >El nombre es requerido.</span>
				
			</div>
		</div>
		<div class="mb-3">
			<label for="" class="form-label">Correo</label>
			<input type="email" class="form-control" id="" formControlName="correo">
			<div *ngIf="formularioCreado.controls['correo'].invalid && formularioCreado.controls['correo'].dirty">
				<div *ngIf="formularioCreado.controls['correo'].errors?.['required']" class="alert alert-danger" role="alert">
					El correo es requerido.
				</div>
				<div *ngIf="formularioCreado.controls['correo'].errors?.['email']" class="alert alert-danger" role="alert">
					No parece un correo valido.
				</div>
			</div>
		</div>
		<div class="mb-3">
			<label for="" class="form-label">Contraseña</label>
			<input type="password" class="form-control" id="" formControlName="password">
			<div *ngIf="formularioCreado.controls['password'].invalid && formularioCreado.controls['password'].dirty ">
				<div *ngIf="formularioCreado.controls['password'].errors?.['required']" class="alert alert-danger" role="alert">
					La contraseña es requerida.
				</div>
	
				<div *ngIf="formularioCreado.controls['password'].errors?.['minlength']" class="alert alert-danger" role="alert">
					La contraseña debe tener al menos 8 caracteres.
				</div>

			</div>  
		</div>
		
		<button *ngIf="esNuevo" [disabled]="!formularioCreado.valid" class="btn btn-primary" (click)="agregar()" >Agregar</button>
		<button *ngIf="!esNuevo" [disabled]="!formularioCreado.valid" class="btn btn-danger" (click)="editar()" >Editar</button>
	</form>
</div>


<div class="container usuarios">
	<div *ngFor="let usuario of usuarios; let posicion = index ">
		<h4>{{usuario.nombre}} Tiene la posición:  {{posicion}} </h4>
		<p>{{usuario.correo}}</p>
		<p>{{usuario.password}}</p>
	
		<button (click)="editarUsuario(posicion)">Editar</button>
		<button (click)="eliminarUsuario(posicion)">Eliminar</button>
	</div>
</div>