<form action="" class="row g-3">
	<div class="form-group col-auto">
		<label for="nombre" class="visually-hidden">Nombre</label>
		<input type="text" name="nombre" id="nombre" placeholder="Nombre" class="form-control"
		[(ngModel)]="nombreInput">
	</div>
	<div class="form-group col-auto">
		<label for="apellido" class="visually-hidden">Apellido</label>
		<input type="text" name="apellido" id="apellido" placeholder="Apellido" class="form-control"
		[(ngModel)]="apellidoInput">
	</div>
	<div class="col-auto">
		<button type="submit" class="btn btn-primary" (click)="agregarPersona()">Agregar Persona</button>
	</div>
</form>