<div class="container">
	<div class="col">
		<h3>{{titulo}} </h3>
	</div>
	<hr>
	<app-formulario
		(personaCreada)="personaAgregada($event)"
	></app-formulario>
	<hr>
	<app-persona
		*ngFor="let personaElemento of personas; let i = index"
		[persona]="personaElemento"
		[indice]="i"
	></app-persona>
</div>







<!-- <div class="container">
	<div class="row">
		<div class="col">
			<h1>Listado de personas</h1>
			<hr>

			<button class="btn btn-primary" [disabled]="desabilitar" (click)="agregarPersona()">Agregar Persona</button>
			<p *ngIf="mostrar; else sinPersona" >{{ mensaje }} </p>
			<ng-template #sinPersona>
				<p>No se ha agregado ninguna persona</p>
			</ng-template>
						 -->
			<!-- <label for="">Título Persona</label>
			<input type="text" class="form-control" [(ngModel)]="titulo" > 
			{{titulo}} 
			
		</div>
	</div>
</div> 
-->

